

.Posts{
    display:flex;
    
    flex-flow:row wrap;
    max-width: 90%;
    gap:1em;
    
}
.Post--nuevo a{
    background-color: wheat;
    border-radius:5px;
    padding: .4em;
    color:black;   
    align-self:center;
    cursor:pointer;
}
.Post{
    background-color: aliceblue;
    border-radius:5px;
    padding: 2em;
}

.Post .Post--title{
    font-family: 'Roboto Slab', serif;
    text-transform:uppercase;
    text-decoration:underline;
    text-align:left;
}

.Post .Post--author{
    font-family: 'Roboto Slab', serif;
    text-transform:lowercase;    
    text-align:right;
}

.Post .Post--paragraph{
    font-family: 'Lato', serif;
    font-size:smaller;
}