
.Posts{
    display:flex;
    flex-flow:row wrap;
    max-width: 90%;
    gap:1em;
    padding:1em;
    
}
.Post--nuevo{
    padding:1em;
}
.Post--nuevo a{
    background-color: aliceblue;
    font-family: 'Cabin', serif;
    border-radius:5px;
    padding: .4em;
    color:black;   
    align-self:center;
    cursor:pointer;
}
.Post--nuevo a:hover{
    transition-duration: .4s;
    background-color: #f7931a;
    color:white;
}
.Post{
    background-color: aliceblue;
    border-radius:5px;
    padding: 1em;
    font-family:"poppins",serif;
}
.Post:hover{
    transition: .4s;
    box-shadow: 3px 3px  10px aliceblue;
}
.Post .Post--title{
    font-family: 'Roboto Slab', serif;
    text-transform:uppercase;
    text-decoration:underline;
    text-align:left;
}

.Post .Post--author{
    font-family: 'Roboto Slab', serif;
    text-transform:lowercase;    
    text-align:right;
    font-size:smaller;
}

.Post .Post--paragraph{
    font-family: 'Lato', serif;
    font-size:smaller;
}
.Post .Post--paragraph::before{
    content:"#";
    color:#f7931a;
}
.Post .Post--actions{
    padding:.3em;
    display:flex;
    justify-content:space-around;
}
.Post .Post--actions a{
    font-size:.8em;
    padding:.5em;
    color:white;
    border-radius:5px;
    background-color: #666565;
    cursor:pointer;
}



@media screen and (max-width: 270px) {
    .Post--nuevo{
        flex-direction: column;
        justify-content: stretch;
        
    }
    
}
@media screen and (max-width: 380px) {
    .Post--nuevo{
        overflow:auto;
        gap:2px;
        
    }
    
}

@media screen and (max-width: 700px) {
    main{
        height: calc(100vh - 6em);
    }
    .Post--nuevo{
        display: flex;
        gap:5px;
        justify-content:space-between;
    }
    .Posts{
        flex-direction: column;
        flex-wrap:nowrap;
        max-height:80%;
        overflow:auto;
    }
}
