main{
    justify-content:center;
}
form{
    align-self:center;
    align-items: center;
    background-color:rgba(255,255,255,.8);
    border-radius: 5px;
    box-shadow: 3px 3px  10px rgba(26,126,247,1);
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    padding:15px;
    width:40vh;
}

form legend{
    text-decoration: underline;    
}

form input::placeholder, form textarea::placeholder{
    color:#000;
}

form input, form textarea{
    border: none;
    border-bottom: 3px solid white;
    background: none;
    margin: 5px 0px;
    border-radius: 2px;
    font-size: 15px;
    padding: 14px 16px;
    
}


form textarea{
    resize:none;
}

form input[type=submit]{
    align-self: center;
    font-size: .9rem;
    margin: .6em;
    padding: .6em;
    border:none;
    border-radius:5px;
    background-color:white;
    cursor: pointer;
}

form input[type=submit]:hover{
    transition:.4s;
    background-color:rgb(220,220,220);
}
    


form input:focus{
    outline-color: white;
    background-color:rgba(255, 255, 255, 0.3);
}

.Form{
    max-width:50em;
}
.Form--content{
    display: flex;
    gap: 2em;
    overflow-x: scroll;
    width:100%;
}
.Form--part{
    display: flex;
    flex-direction: column;
    border:none;
}


.Form--options{
    display: flex;
    flex-direction: row;
    border:none;
    gap:1em;
    
}
.Form--options a{
    padding:.3em;
    background-color:#fff;
    border-radius:5px;
}
.Form--options a:hover{
    transition:.4s;
    background-color:#f7931a;
    color:#fff;
}

