
@keyframes main1 {
    0%{
        background-position: 0% 50%;
    } 
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }  
}
a{
    color:black;
    text-decoration: none;  
}

main{
    background: linear-gradient(217deg, rgba(247,147,26,1) 23%, rgba(26,126,247,1) 69%);
    background-size: 250%;
    flex-direction: column;
    gap: 1em;
    animation-timing-function: ease;
    animation-name: main1;
    animation-duration: 9s;
    animation-iteration-count:infinite;
    
    
}



@media screen and (min-width: 700px) and (max-height:700px){

    .texto{
        font-size:2em;
    }
}

@media screen and (max-width: 700px) {
    main{
        height: calc(100vh - 6em);
    }
    .texto{
        font-size: 2em;
    }
}
