.Ver--posts{
    width:auto;
    
}

.Post{
    width:80%;
    padding:1em;
    margin:1em;
}
.Post--Comments{
    background-color: wheat;
    border-radius:5px;
    width:80%;
    padding:1em;
    margin:1em;
}

.newComment{
    border: 5px #ffffff94 solid;
    border-radius:inherit;
    display:flex;
    font-family:"Cabin", sans-serif;
    flex-direction:column;
    padding:1em;
    
}
.newComment legend{
    text-decoration: underline;    
}

.newComment fieldset{
    align-items:flex-end;
    border:none;
    display:flex;
    justify-content:space-between;
}


.newComment textarea::placeholder{
    color:#000;
}

.newComment textarea{
    border: 3px solid white;
    border-radius:5px;
    background: #ffffff94;
    margin: 5px 0px;
    padding: 1em;
    overflow:auto;
    resize:none;
    width:100%;
}




.newComment input[type=submit]{
    align-self: center;
    font-size: .9rem;
    margin: .6em;
    padding: .6em;
    border:none;
    border-radius:inherit;
    background-color:white;
    cursor: pointer;
}

.newComment input[type=submit]:hover{
    transition:.4s;
    background-color:rgb(220,220,220);
}
    

.Comments{
    padding:inherit;
    background: none;
    
}

.Comment{
    background-color:#ffffff94;
    border-radius:inherit;
    padding:inherit;
    border-radius:5px;
    margin: .5em;
}
.Comment--info{
    display: flex; 
    justify-content:space-between;
}
@media screen and (max-width: 700px) {

    
}
@media screen and (max-width: 480px) {
    
   
  
}