
.Ver--Profile{
    align-items:center;
}
.Profile{
    margin:2em;
    background-color: aliceblue;
    border-radius:5px;
    padding: 2em;
    display:flex;
    flex-direction:column;
    gap:.7em;
}
.Profile .Profile--info{
    text-indent:1em;
}
.Profile .Profile--actions{
    display: flex;
    flex-direction: column;
    font-weight:700;
}

