
.Ver--Profile{
    
    align-items:flex-start;
}
.Profile{
    margin:2em;
    background-color: aliceblue;
    border-radius:5px;
    padding: 2em;
}

.Post .Post--title{
    font-family: 'Roboto Slab', serif;
    text-transform:uppercase;
    text-decoration:underline;
    text-align:left;
}

.Post .Post--author{
    font-family: 'Roboto Slab', serif;
    text-transform:lowercase;    
    text-align:right;
}

.Post .Post--paragraph{
    font-family: 'Lato', serif;
    font-size:smaller;
}