@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,500&family=Lato:ital,wght@0,400;1,700&family=Roboto+Slab:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
*::selection{
    background-color: rgba(212, 212, 212, 0.302);
    color:#F7931A;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100vw;
}
header,footer{
    user-select: none;
    background-color: #656565;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1em;
}
footer{
    color: white;
    font-size: medium;
    align-items: center;
    text-align: center;
}
footer:hover{
    color: #F7931A;
}

header h1 a{
    font-family: 'Roboto Slab', serif;
    font-size: .8em;
    font-weight: 500;
    color: #F7931A;
    cursor: pointer;
}

header h1 a::before{
    content:"#";
    color:white;
}
header h1 a:hover{
    transition: .4s;
    color:white;
}

header ul{
    list-style:none;
    display:flex;
    gap:1em;
    
}
header ul a{
    color: white;
    font-family: 'Cabin', serif;
}
header ul a:hover{
    
    cursor:pointer;
    text-decoration:underline;
    text-decoration-color:#F7931A;
}
main{
    display: flex;   
    width: 100%;
    height: 90%;
}

@media screen and (max-width: 700px) {
    body {
        height: auto;
        overflow: auto;
        overflow-x: hidden;
      
    }
    header, footer{
        
        flex-direction: column;
    }
    footer{
        height:1.5em;
        justify-content:center;
    }
    header{
        
        align-items:center;
        gap:3px;
        padding:.4em;
    }
    
    main{
        flex-direction: column;   
    }

}
